// @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
//@import "../../static/fontawesome-free-5.11.2-web/scss/fontawesome.scss";
// @import "../../static/fontawesome-free-5.11.2-web/scss/solid.scss";

$muli: 'Muli', sans-serif;
$primary-color: #000000;
$secondary-color: #303030;
$tertiary-color:#9b9094;

@import "./main.scss";